// 576px
.pack-2 {
    padding: 0 0 50px;
}

@media (min-height: 569px) {
    .header-home .content {
        display: grid;
    }
}

@media (min-width: media(sm)) {
    .pack__content {
        .title {
            h3 {
                font-size: $fz-extra-large;
            }
            &::before {
                transform: translate(-50%, -55%) rotate(45deg);
            }
        }
    }
    h2,
    .breadcumb h2 {
        font-size: 40px;
    }
    .service-page-wrap h3 {
        font-size: 25px;
    }
    .signup-title,
    .checkout-title {
        font-size: 20px;
    }
    .work-wrap h3 {
        font-size: 18px;
    }
    .scroll-top {
        right: 1%;
        .flaticon-heart::before {
            font-size: 30px;
        }
    }
}

// 768px
@media (min-width: media(md)) {
    .offset-md-2-5 {
        margin-left: 20.833333333%;
    }
    h2 {
        font-size: $fz-title-section-md;
    }
    .book-panel {
        padding: 15px;
        h3 {
            font-size: 18px;
        }
    }
    .service-page-wrap h3 {
        font-size: 25px;
    }
    .work-wrap h3 {
        font-size: 20px;
    }
    .service {
        flex: 0 0 12.5%;
    }
    .nav-icon {
        .item {
            margin-left: space(2);
        }
    }
    .breadcumb h2 {
        font-size: 50px;
    }
    .about-us,
    .we-do,
    .project,
    .my-team,
    .pack,
    .blog,
    .mission,
    .signup,
    .shopping-cart,
    .blog-area,
    .tetsmonial-area,
    .brand-area,
    .contact-area,
    .service-page-area,
    .wedo-area,
    .quote-wrap,
    .work-area,
    .shop-details-area {
        padding: 70px 0;
    }
    .pack-2 {
        padding: 0 0 70px;
    }
    .pack__content {
        .title {
            h3 {
                font-size: $fz-extra-large;
            }
            &::before {
                transform: translate(-50%, -60%) rotate(45deg);
            }
        }
    }
    .details-panel {
        padding: space(1);
        p {
            margin-bottom: space(0.5);
        }
    }
    .quote-wrap p {
        font-size: 16px;
    }
    .selector {
        float: right;
    }
    .recent-product-content a {
        font-size: 14px;
    }
    .footer {
        ul {
            text-align: right;
        }
    }
    .copyright {
        margin: 0;
        p {
            text-align: left;
        }
    }
}

// 992px
@media (min-width: media(lg)) {
    .about-us,
    .we-do,
    .project,
    .my-team,
    .pack,
    .blog,
    .mission,
    .signup,
    .shopping-cart,
    .blog-area,
    .tetsmonial-area,
    .brand-area,
    .contact-area,
    .service-page-area,
    .wedo-area,
    .work-area,
    .shop-details-area {
        padding: 100px 0;
    }
    .pack-2 {
        padding: 0 0 100px;
    }
    .service-name {
        font-size: 16px;
    }
    .service-price {
        font-size: 20px;
    }
    .menu-bar {
        ul li a {
            font-size: $fz-normal;
        }
    }
    .nav-icon {
        .item {
            margin-left: space(1);
        }
    }
    .header-home .content {
        h1 {
            font-size: $fz-title-header-lg;
        }
    }
    .post-img {
        float: left;
    }
    .work-wrap h3 {
        font-size: 16px;
    }
    .details-panel {
        padding: space(2);
        p {
            margin-bottom: space(1);
        }
    }
    .recent-product-content a {
        font-size: 16px;
    }
    .recent-product-img {
        img {
            width: 80px;
            height: 80px;
        }
    }
    .fanfact-icon {
        font-size: 70px;
    }
    .fanfact-content {
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 60px;
        }
    }
    .shop-title {
        font-size: 18px;
    }
    .scroll-top {
        right: 2%;
        .flaticon-heart::before {
            font-size: 35px;
        }
    }
}

// 1200px
@media (min-width: media(xl)) {
    .header-home .content {
        h1 {
            font-size: $fz-title-header-xl;
        }
    }
    .work-wrap h3 {
        font-size: 20px;
    }
    .blog__content {
        ul li a {
            font-size: $fz-btn;
        }
    }
    .fanfact-icon {
        font-size: 80px;
    }
    .fanfact-content {
        h2 {
            font-size: 35px;
        }
        h3 {
            font-size: 67px;
        }
    }
    .scroll-top {
        .flaticon-heart::before {
            font-size: 40px;
        }
    }
}